<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/stocks">Back to Home</a>
    <h5>Stock List</h5>
    <ul>
      {% for stockSymbol, stockInfo in stockData.items %}
      <li>
        <strong>{{ stockSymbol }}</strong>
        <span>Current Price: {{ stockInfo.currentPrice }}</span>
        <span>Percentage Increase: {{ stockInfo.percentageIncrease }}</span>
      </li>
      {% endfor %}
    </ul>
    <form action="{% url 'submit_form' %}" method="POST">
      {% csrf_token %}
      <!-- Form inputs here -->
      <label>Enter ticker</label>
      <input type="text" name="ticker" />

      <button type="submit">Submit</button>
    </form>

    <div id="response-container">
      {% if data %}
      <h2>{{ data }}</h2>
      {% endif %}
    </div>
  </body>
</html>
